target/
*.log
*.log.*
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/
.springBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/
.DS_Store
Thumbs.db
.env
*.env
apresentacao-backend/uploads/
*.mv.db
*.trace.db